:root {
  --primary-bg-color: #ecd6fc;
  --secondary-bg-color: #FFC;
  --color-1: #2779a7;
  --color-2: #49c5b6;
  --color-3: #ECD06F;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC',
  'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
